/* SwitchesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.switches li {
  clear: both;
}
.switches .name {
  margin-top: 10px;
  background:#CFD8DC;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
  width: 100px;
}

.switches .position_normal {
  margin-top: 10px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
  width: 60px;
  background: rgb(10, 4, 92);
}

.switches .position_reverse {
  margin-top: 10px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
  width: 60px;
  background: rgb(219, 118, 3);
}

