/* SignalesComponent's private CSS styles */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper {
  width: 600px;
}

.signals ul {
  list-style: none;
}

.signals li {
  list-style: none;
  clear: both;
}


.signals .name {
  margin-top: 10px;
  background:#CFD8DC;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
  width: 100px;
}

.signals .description {
  margin-top: 10px;
  background:#CFD8DC;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
  width: 200px;
}

.signals .status_off {
  margin-top: 10px;
  display: inline-block;
  border: solid;
  border-color: darkgray;
  height: 40px;
  width: 40px;
  background: gray;
}

.signals .status_red {
  margin-top: 10px;
  display: inline-block;
  border: solid;
  border-color: darkgray;
  height: 40px;
  width: 40px;
  background: red;
}

.signals .status_orange {
  margin-top: 10px;
  display: inline-block;
  border: solid;
  border-color: darkgray;
  height: 40px;
  width: 40px;
  background: orange;
}

.signals .status_green {
  margin-top: 10px;
  display: inline-block;
  border: solid;
  border-color: darkgray;
  height: 40px;
  width: 40px;
  background: green;
}

.signals .badge {
  float: left;
  font-size: small;
  color: white;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  height: 40px;
  width: 60px; 
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 4px 0 0 4px;
}