/* SignalesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.signals li {
  clear: both;
}
.signals .name {
  margin-top: 10px;
  background:#CFD8DC;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
  width: 100px;
}

.signals .status_red {
  margin-top: 10px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
  width: 60px;
  background: red;
}

.signals .status_orange {
  margin-top: 10px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
  width: 60px;
  background: orange;
}

.signals .status_green {
  margin-top: 10px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
  width: 60px;
  background: green;
}

.signals .badge {
  float: left;
  font-size: small;
  color: white;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  height: 40px;
  width: 60px; 
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 4px 0 0 4px;
}