<div class="status">
  <app-control-panel (event)=onControlUpdate($event)></app-control-panel>
  <h3>信号機</h3>
  <div class="grid grid-pad">
    <a *ngFor="let signal of signals" class="col-1-4" 
        routerLink="/detail/{{signal.id}}">
      <div class="module signal">
        <h4>{{signal.name}}</h4>
      </div>
    </a>
  </div>
</div>
<div class = "status">
  <h3>転轍機</h3>
  <div class="grid grid-pad">
    <a *ngFor="let switch of switches" class="col-1-4"
    routerLink="/detail/{{switch.id}}">
      <div class="module switch">
        <h4>{{switch.name}}</h4>
      </div>
    </a>
  </div>
</div>
