<svg width="1000" height="700" viewBox="0, 0, 1000, 700" style="background: rgb(11, 65, 42)">
  <defs>
    <symbol id="lever_signal">
      <line x1="25" y1="0" x2="25" y2="30" stroke="red" stroke-width="15" />
      <circle cx="25" cy="50" r="25" fill="red" />
    </symbol>
    <symbol id="lever_switch">
      <line x1="25" y1="0" x2="25" y2="30" stroke="yellow" stroke-width="15" />
      <circle cx="25" cy="50" r="25" fill="yellow" />
    </symbol>
    <symbol id="status_switch_normal">
      <circle cx="10" cy="10" r="7" fill="green" />
      <circle cx="40" cy="10" r="7" fill="darkgray" />
    </symbol>
    <symbol id="status_switch_reverse">
      <circle cx="10" cy="10" r="7" fill="darkgray" />
      <circle cx="40" cy="10" r="7" fill="red" />
    </symbol>
    <symbol id="rail_switch">
      <line x1="5" y1="50" x2="95" y2="50" stroke="white" stroke-width="15" />
      <line x1="40" y1="50" x2="80" y2="100" stroke="white" stroke-width="15" />
      <line x1="75" y1="100" x2="95" y2="100" stroke="white" stroke-width="15" />
    </symbol>
  </defs>

  <text x="400" y="100" fill="white" font-size="40" text-decoration="underline">佐 津</text>

  <line x1="5" y1="350" x2="95" y2="350" stroke="white" stroke-width="15" />
  <line x1="805" y1="400" x2="895" y2="400" stroke="white" stroke-width="15" />
  <use x="100" y="300" xlink:href="#rail_switch"></use>
  <use x="800" y="450" xlink:href="#rail_switch" transform="rotate(180 800 450)"></use>
  <line x1="205" y1="350" x2="695" y2="350" stroke="white" stroke-width="15" />
  <line x1="205" y1="400" x2="695" y2="400" stroke="white" stroke-width="15" />

  <svg:g app-two-way-signal-r [signal]="signal_3L4L" />
  <svg:g app-two-way-signal-r [signal]="signal_1R2R" />
  <svg:g app-single-signal [signal]="signal_1L" />
  <svg:g app-single-signal [signal]="signal_2L" />
  <svg:g app-single-signal [signal]="signal_3R" />
  <svg:g app-single-signal [signal]="signal_4R" />

  <use x="100" y="50" xlink:href="#status_switch_normal"></use>
  <use x="200" y="50" xlink:href="#status_switch_normal"></use>
  <use x="100" y="75" xlink:href="#lever_switch"></use>
  <use x="200" y="75" xlink:href="#lever_switch"></use>



  <use x="100" y="575" xlink:href="#lever_signal"></use>
  <use x="200" y="575" xlink:href="#lever_signal"></use>
  <use x="300" y="575" xlink:href="#lever_signal"></use>
  <use x="400" y="575" xlink:href="#lever_signal"></use>
  <text x="115" y="680" fill="white" font-size="30">1</text>
  <text x="215" y="680" fill="white" font-size="30">2</text>
  <text x="315" y="680" fill="white" font-size="30">3</text>
  <text x="415" y="680" fill="white" font-size="30">4</text>

</svg>