<svg width="1000" height="700" viewBox="0, 0, 1000, 700" style="background: rgb(11, 65, 42)">

  <text x="400" y="100" fill="white" font-size="40" text-decoration="underline">佐 津</text>

  <line x1="5"   y1="400" x2="95" y2="400" stroke="white" stroke-width="15" />
  <line x1="805" y1="400" x2="895" y2="400" stroke="white" stroke-width="15" />

  <svg:g app-two-way-signal-r [signal]="signals['4R5R']" />
  <svg:g app-two-way-signal-r [signal]="signals['2L3L']" />
  <svg:g app-single-signal [signal]="signals['2R']" />
  <svg:g app-single-signal [signal]="signals['3R']" />
  <svg:g app-single-signal [signal]="signals['4L']" />
  <svg:g app-single-signal [signal]="signals['5L']" />

  <svg:g app-track-switch [track]="tracks['21T']"></svg:g>
  <svg:g app-track-switch [track]="tracks['31T']"></svg:g>
  <svg:g app-track-straight [track]="tracks['2RT']"></svg:g>
  <svg:g app-track-straight [track]="tracks['5RT']"></svg:g>

  <svg:g app-lever-signal [lever]="levers['2']" (event)=onEvent()></svg:g>
  <svg:g app-lever-signal [lever]="levers['3']" (event)=onEvent()></svg:g>
  <svg:g app-lever-signal [lever]="levers['4']" (event)=onEvent()></svg:g>
  <svg:g app-lever-signal [lever]="levers['5']" (event)=onEvent()></svg:g>
  <svg:g app-lever-switch [lever]="levers['11']" (event)=onEvent()></svg:g>
  <svg:g app-lever-switch [lever]="levers['21']" (event)=onEvent()></svg:g>

</svg>